* {
  margin: 0;
}

.navbar {
  background-color: #45526c;
  font-family: "Merriweather", serif;
  color: #fcecdd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 44px;
  margin-bottom: 10px;
}

.navbar .navbar-title {
  font-weight: bold;
  font-size: 2rem;
}

.navbar .navbar-item {
  text-decoration: none;
  color: #fcecdd;
  padding: 7px;
}

.navbar .navbar-item:hover {
  font-weight: bold;
  color: #f8a488;
}

.navbar .navbar-item.active {
  font-weight: bold;
}

#home{
 background-color:#ffdcb8;

}
.home-page {
  height: 400px;
  margin: 20px 30px 0 30px;
}

h1 {

  font-size: 5rem;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: #387c6d;
}

h2{
  width: 900px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
color:#364547;
font-size: 1.5rem;
}


.last{

position:absolute;
top: 1500px;
left: 200px;
font-size: 3rem;
text-align:center;
margin-bottom: 200px;
}
.news{
  font-size: 1.5rem;
  text-decoration: none;
  color: #364547;
  font-weight: bold;
}

.news:hover {
  color: #126e82;
}

.sd{
  padding-top: 20px;
  font-size: 3rem;
}

#about{
  text-align:center;

    margin-top: 100px;
}

.about1{
text-align:center;
}

.p{
  text-align:center;
  margin-top: 20px;
  color: #364547;
  font-family: "Merriweather", serif;
  margin-left: 420px;
  margin-right: 400px;
  margin-bottom: 100px;
  font-size: 1.2rem;
  line-height: 2rem;
}

.h2{
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: #387c6d;
  font-size: 4rem;
}

.learnH{
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: #387c6d;
  font-size: 3rem;
  margin-left: 100px;
  text-align:center;
}


.flash-text {
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 10px;
  font-family: "Merriweather", serif;
}

.flashcard1 {
  margin-left: 200px;
  margin-right: 20px;
  margin-top: 50px;
  background: #f9f9f9;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 22%;
}

.flashcard2 {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background: #f9f9f9;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 22%;
}

.flashcard3 {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background: #f9f9f9;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 22%;
}

.flash-img1{
  width: 275px;
  height: 185px;
}
.flashes{
  display: flex;
  margin-top: 500px;
  position:absolute;
  top: 400px;
}
